/* message-body */
.message {
	display: grid;
	place-content: center;
	height: 100%;
	padding: 30px;
	background-color: #2c2c2c;
}

.message-body {
	display: flex;
	border-radius: 20px;
	overflow: hidden;
	background-color: #ededed;
	/* margin-top: -50px; */
	height: 85vh;
	width: 90vw;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}


/* Sidebar */
.message-sidebar {
	display: flex;
	flex-direction: column;
	flex: 0.35;
	overflow: hidden;
	scroll-behavior: smooth;
}

.message-sidebar__header {
	display: flex;
	justify-content: flex-start;
	padding: 20px;
	border-right: 1px solid lightgray;
}

.message-sidebar__headerRight {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: flex-start; */
	margin-left: 15px;
	min-width: 10vw;
	font-size: 16px;
	font-weight: 600;
	/* background-color: white; */
	padding: 8px 5px;
	/* cursor: pointer; */
	/* border-radius: 5px; */
	color: #555;
	/* border: 1px solid #888; */
}

.message-sidebar__headerRight:hover {
	border: 1px solid black;
}

.message-sidebar__headerRight>span {
	font-size: 18;
	margin-left: 5px;
}

/* Search */

.message-sidebar__search {
	display: flex;
	align-items: center;
	background-color: #f6f6f6;
	height: 39px;
	padding: 10px;
}

.message-sidebar__searchContainer {
	display: flex;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
}

.message-sidebar__searchContainer>i {
	color: gray;
	padding: 18px;
	font-size: 12px;
}

.message-sidebar__searchContainer>input {
	border: none;
	width: 100%;
	outline-width: 0;
	margin-left: 18px;
}

.message-sidebar__searchContainer>p {
	font-size: 12px;
	margin-left: 18px;
	color: #555;
}

.message-sidebar_chats {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.message-chat {
	flex: 1;
}

/* width */
.scrollbar::-webkit-scrollbar {
	width: 7px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: #888;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555;
}