@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (min-width:490px){
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar style start  */

.main-nav {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: 10rem 0.3fr 1fr 2fr 10rem;
 background-color: white;
    position: sticky;
    z-index: 8;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  height: 80px;
  margin-right: 50px;
}

 .nav-logo-img{
  height: 25px;
}

.menu-link {
  grid-column: 3/4;
  justify-content: space-between;
  margin-left:30px;
}

.menu-link ul {
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.menu-link > ul > li{
  margin-right: 20px;
}

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
  margin-left: 20px;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

.nav-btn-login{
  background-color: #3b5998;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.5s;
  margin-right: 10px;
  height:40px;
  border: transparent;


}

.nav-btn-login:hover{
  background-color: #3b5998;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.5s;
  transform: scale(1.1);
  border: 1px solid white;
}

.nav-btn-signup{
  background-color: green;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  /* text-transform: capitalize; */
  transition: 0.5s;
  margin-right: 10px;
  width:120px;
  height:40px;
  border: transparent;
}

.nav-btn-signup:hover{
  background-color: green;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  /* text-transform: capitalize; */
  transition: 0.5s;
  transform: scale(1.1);
  border: 1px solid white;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.5rem;
}

.menu-link ul li {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;;
  
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}


/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    /* height: 8rem; */
    grid-template-columns: 2rem 0fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
}




@media (max-width:767px){
  
  
  

   
  /* navbar style start  */
  
  .main-nav {
    /* height: 6rem; */
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

 
  .nav-logo-img{
    margin-top:0px;
    height: 20px;
    
    }

    .nav-btn-login{
      background-color: #3b5998;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: capitalize;
      transition: 0.5s;
      margin-right: 10px;
      height:40px;
      width:100%;
    
    }
    
    .nav-btn-login:hover{
      background-color: #3b5998;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: capitalize;
      transition: 0.5s;
      transform: scale(1.1);
      border: 1px solid white;
    }
    
    .nav-btn-signup{
      background-color: green;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: capitalize;
      transition: 0.5s;
      margin-right: 10px;
      height:45px;
      width:100%;
    }
    
    .nav-btn-signup:hover{
      background-color: green;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: capitalize;
      transition: 0.5s;
      transform: scale(1.1);
      border: 1px solid white;

    }
<<<<<<< HEAD
  }
}
=======
  
}}
>>>>>>> 0d23b9399ccfc30a49555ecb14a09cd6c3981ae8
