@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.about_main {

}
  
  .about_section {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .about_section h1 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #0057ff;
    margin-bottom: 0px;
  }
  
  .about_section p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: rgb(48, 48, 48);
    margin-top: 0;
  }
 